@import "../fonts/Bebas Neue Cyrillic/stylesheet.css";
@import "../fonts/Helvetica Neue/stylesheet.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "helper";

::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #292929;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f2d2d;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'HelveticaNeueCyr', serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

$color_1: #292929;
$color_2: #FFF;
$background-color_1: #F8F8F8;
$background-color_2: #F6F6F6;
$background-color_3: #000;

.mb-25 {
  margin-bottom: 1.5625rem;
}
.pt-50 {
  padding-top: 3.125rem;
}
.mb-31 {
  margin-bottom: 1.9375rem;
}
.mb-60 {
  margin-bottom: 3.75rem;
}
.c-black400 {
  color: $color_1;
}
.fs-20 {
  font-size: 1.25rem;
}
.lh-lg-42 {
  line-height: 2.625rem;
}
.w-55 {
  width: 3.4375rem;
}
.h-55 {
  height: 3.4375rem;
}
.w-100 {
  width: 6.25rem;
}
.bgc-gray300 {
  background-color: $background-color_1;
}
.pt-46 {
  padding-top: 2.875rem;
}
.pb-46 {
  padding-bottom: 2.875rem;
}
.mt-77 {
  margin-top: 4.8125rem;
}
.me-30 {
  margin-right: 1.875rem;
}
.w-80 {
  width: 5rem;
}
.fw-300 {
  font-weight: 300;
}
.mt-26 {
  margin-top: 1.625rem;
}
.fs-18 {
  font-size: 1.125rem;
}
.mt-50 {
  margin-top: 3.125rem;
}
.fw-bolder {
  font-weight: bolder;
}
.mb-58 {
  margin-bottom: 3.625rem;
}
.mt-61 {
  margin-top: 3.8125rem;
}
.w-180 {
  width: 11.25rem;
}
.h-195 {
  height: 12.1875rem;
}
.mt-56 {
  margin-top: 3.5rem;
}
.fw-500 {
  font-weight: 500;
}
.h-66 {
  height: 4.125rem;
}
.w-315 {
  width: 19.6875rem;
}
.minh-177 {
  min-height: 11.0625rem;
}
.bgc-gray {
  background-color: $background-color_2;
}
.bgc-black {
  background-color: $background-color_3;
}
.w-323 {
  width: 20.1875rem;
}
.h-52 {
  height: 3.25rem;
}
.c-white {
  color: $color_2;
}
.mt-15 {
  margin-top: 0.9375rem;
}
.ms-28 {
  margin-left: 1.75rem;
}
.me-19 {
  margin-right: 1.1875rem;
}
.me-6 {
  margin-right: 0.375rem;
}
.w-35 {
  width: 2.1875rem;
}
.h-35 {
  height: 2.1875rem;
}
@media (min-width: 992px) {
  .pt-lg-143 {
    padding-top: 8.9375rem;
  }
  .fs-lg-26 {
    font-size: 1.625rem;
  }
  .me-lg-129 {
    margin-right: 8.0625rem;
  }
  .w-lg-116 {
    width: 7.25rem;
  }
  .mt-lg-191 {
    margin-top: 11.9375rem;
  }
  .fs-lg-25 {
    font-size: 1.5625rem;
  }
  .fs-lg-24 {
    font-size: 1.5rem;
  }
  .lh-lg-46 {
    line-height: 2.875rem;
  }
  .py-lg-0 {
    padding: 0rem 0;
  }
  .ms-lg-66 {
    margin-left: 4.125rem;
  }
}
@media (min-width: 768px) {
  .w-md-76 {
    width: 76%;
  }
}
@media (min-width: 576px) {
  .w-sm-58 {
    width: 3.625rem;
  }
  .h-sm-57 {
    height: 3.5625rem;
  }
}

body {
  background: #fff;
}

.container {
  max-width: 1400px;
}

:root {
  --orange: #FF5B27;
  --black: #1D1F23;
  --gray: #949494;
  --light-gray: #F1F1F1;
  --white: #FFf;
}

.font-babes-neue {
  font-family: "Bebas Neue", sans-serif;
}

.btn-def {
  padding: 0.625rem 1.5625rem;
  border-radius: 100px;
  border: 2px solid #1D1D1D;
  color: #1D1D1D;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 100%; /* 25px */
  text-transform: uppercase;
  cursor: default;
  background: transparent;
  display: inline-block;
  white-space: nowrap;
  @media (max-width: 576px) {
    font-size: 1rem;
    border-radius: 62.887px;
    border: 1.258px solid #1D1D1D;
    padding: 6.289px 15.722px;
  }
}

// .......... Menu....

.menu {
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  width: 100%;
  @media (max-width: 992px) {
    height: auto;
  }

  &-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    @media (max-width: 992px) {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-top: 10px;
    }

    &-logo {
      margin-right: 10.75rem;
      @media (max-width: 1273px) {
        margin-right: 3.75rem;
      }
      //@media (max-width: 1160px) {
      //  margin-right: 4.8rem;
      //}
      @media (max-width: 1060px) {
        //margin-right: 3.5rem;
        -webkit-transform: scale(.9);
        transform: scale(.9);
      }

      img {
        @media (max-width: 576px) {
          width: 166px;
        }
      }
    }

    &-line {
      width: 1px;
      background: #D9D9D9;
      height: 160px;
      margin-right: 11.5rem;
      @media (max-width: 1371px) {
        margin-right: 5.2rem;
      }
      @media (max-width: 1140px) {
        margin-right: 5.75rem;
      }
      @media (max-width: 992px) {
        display: none;
      }
    }

    &-items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 5.375rem;
      @media (max-width: 1200px) {
        margin-right: 1.5rem;
      }
      @media (max-width: 992px) {
        display: none;
      }

      .item2 {
        margin-left: 5.625rem;
        @media (max-width: 1200px) {
          margin-left: 4rem;
        }
        @media (max-width: 1085px) {
          margin-left: 2rem;
        }
      }

      &-item {
        color: #9A9A9A;
        font-size: 1.25rem;
        font-weight: 500;
        text-transform: uppercase;
        white-space: nowrap;

        a {
          font-size: 1.25rem;
          color: #9A9A9A;
        }
      }
    }

    &-link {
      white-space: nowrap;
      @media (max-width: 576px) {
        white-space: unset;
      }

      a {
        color: #000;
        font-size: 1.494rem;
        font-weight: 400;
        line-height: 100%; /* 23.904px */
        text-transform: uppercase;
        text-decoration: underline;
        @media (max-width: 576px) {
          font-size: 1.125rem;
        }
      }
    }

  }

  .menu-items-mobile {
    display: none;
    margin-top: 20px;
    margin-bottom: 22px;
    position: relative;
    left: 15px;
    gap: 25px;
    @media (max-width: 992px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    .menu-items-item {
      color: #9A9A9A;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;

      a {
        color: #9A9A9A;
      }
    }
  }

}

//  Menu End


//........ Header

.header {
  margin-top: 7rem;
  @media (max-width: 768px) {
    margin-top: 1.8125rem;
  }

  &-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    @media (max-width: 992px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    &-box {
      @media (max-width: 992px) {
        width: 100%;
        margin-bottom: -70px;
      }
      @media (max-width: 575px) {
        width: 100%;
        margin-bottom: -150px;
      }

      &-head {
        color: #292929;
        font-size: 4.6875rem;
        font-weight: 600;
        line-height: 111.3%;
        text-transform: uppercase;
        font-family: 'Bebas Neue', sans-serif;
        @media (max-width: 1024px) {
          font-size: 3.5rem;
        }
        @media (max-width: 768px) {
          font-size: 2.875rem;
          margin-left: 1rem;
        }
      }

      &-button {
        max-width: 556px;
        width: 100%;
        height: 214px;
        position: relative;
        left: -115px;
        margin-top: 73px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        @media (max-width: 992px) {
          left: -30px;
          top: -30px;
          margin-top: 0;
        }
        @media (max-width: 576px) {
          -webkit-box-pack: left;
          -ms-flex-pack: left;
          justify-content: left;
          padding-left: 50px;
          height: 300px;
          width: 450px;
          left: -50px;
          top: -100px;
          background-size: contain;
        }

        button {
          max-width: 19.7410625rem;
          width: 100%;
          text-align: center;
          height: 4.125rem;
          border: 1.692px solid #000;
          background: rgba(255, 255, 255, 0.50);
          color: #000;
          font-size: 1.1785625rem;
          font-weight: 500;
          line-height: normal;
          @media (max-width: 768px) {
            margin-left: 1rem;
          }
        }
      }

    }

    &-video {
      max-width: 800px;
      width: 100%;
      position: absolute;
      z-index: -1;
      right: -30px;
      top: -112px;

      &:after {
        content: "";
        width: 100px;
        height: 100%;
        background: -webkit-gradient(linear, right top, left top, from(white), to(transparent));
        background: linear-gradient(270deg, white, transparent);
        position: absolute;
        right: 0;
        top: 0;
      }

      &:before {
        content: "";
        width: 100px;
        height: 100%;
        background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(transparent));
        background: linear-gradient(90deg, #ffffff, transparent);
        position: absolute;
        left: 0;
        top: 0;
      }

      @media (max-width: 1024px) {
        max-width: 660px;
      }
      @media (max-width: 992px) {
        position: unset;
        max-width: unset;
      }

      video {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }

      h2 {
        color: #292929;
        font-size: 2.8125rem;
        font-style: normal;
        font-weight: 600;
        line-height: 87%; /* 20.88px */
        text-transform: uppercase;
        background: #F6F6F6;
        white-space: nowrap;
        position: absolute;
        top: 91%;
        padding: 20px;
        left: 42%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 1;
        @media (max-width: 1024px) {
          font-size: 2rem;
        }
        @media (max-width: 992px) {
          top: 99%;
        }
        @media (max-width: 768px) {
          font-size: 1.5rem;
        }
      }

      h3 {
        color: #292929;
        font-size: 3.9375rem;
        font-style: normal;
        font-weight: 600;
        line-height: 87%; /* 20.88px */
        text-transform: uppercase;
        background: #F6F6F6;
        white-space: nowrap;
        position: absolute;
        top: 108%;
        padding: 1.25rem;
        left: 70%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 1;
        @media (max-width: 1024px) {
          font-size: 3rem;
          left: 68%;
          top: 104%;
        }
        @media (max-width: 992px) {
          font-size: 3rem;
          left: 68%;
          top: 107%;
        }
        @media (max-width: 768px) {
          font-size: 2.25rem;
        }
      }
    }

  }

  &-title {
    margin-top: 12.6875rem;
    @media (max-width: 1024px) {
      margin-top: 9rem;
    }
    @media (max-width: 992px) {
      margin-top: 11rem;
    }
    @media (max-width: 768px) {
      margin-top: 10rem;
    }

    &-1 {
      max-width: 1000px;
      width: 100%;
      color: #292929;
      font-size: 1.625rem;
      font-weight: 300;
      line-height: 43px; /* 165.385% */
      span {
        color: #292929;
        font-size: 1.625rem;
        font-weight: 500;
        line-height: 43px;
        @media (max-width: 768px) {
          font-size: 16px;
        }
      }

      @media (max-width: 768px) {
        font-size: 16px;
        line-height: 23px;
      }
    }

    &-2 {
      color: #292929;
      margin-top: 2.5625rem;
      font-size: 1.375rem;
      font-weight: 400;
      line-height: 40.5px; /* 184.091% */
      max-width: 660px;
      width: 100%;
      @media (max-width: 992px) {
        margin-top: .5rem;
        margin-bottom: 2rem;
      }
      @media (max-width: 768px) {
        font-size: 16px;
        line-height: 23px;
      }
    }
  }

}

//....... Header End

.howItWorking-slider {
  position: relative;

  &::-webkit-scrollbar {
    height: 0;
  }

  img {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    height: auto;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    @media (max-width: 992px) {
      width: 2000px;
    }
  }
}


//. Info

.info{

  &-logo{
    @media (max-width: 576px) {
      width: 43px;
      height: 43px;
    }
  }

  &-about-text{
    max-width: 1100px;
    width: 100%;
    @media (max-width: 576px) {
      color: #292929;
      font-feature-settings: 'clig' off, 'liga' off;
      font-size: 1rem;
      font-style: italic;
      font-weight: 300;
      line-height: 150%; /* 24px */
    }
  }

  &-user-text{
    span{
      color: #292929;
      font-feature-settings: 'clig' off, 'liga' off;
      font-weight: 400;
      line-height: 1.5rem; /* 133.333% */
      opacity: .7;
      font-size: 1.125rem;
    }
    p{
      color: #747474;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.5rem; /* 150% */
    }
  }

}

//..... Info End


//........ About/////

.about-us{
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  .slick-dots{
    display: none !important;
  }
  &-left{
    height: 100%;
    border-right: 1px solid #D9D9D9;
    @include flex('sb', 's');
    flex-direction: column;

    @media (max-width: 992px){
      border-right: 0;
      flex-direction: row;
      align-items: center;

    }
    .btn-def{
      display: inline-block;
      margin-top: 6.25rem;
      @media (max-width: 992px){
        margin-top: 22px;
      }
    }
    &-count{
      color: #000;
      font-size: 3.4375rem;
      font-weight: 400;
      margin-top: 9.0625rem;
      margin-bottom: 5.25rem;
      display: inline-block;
      @media (max-width: 992px){
        margin-top: 11px;
        margin-bottom: 0;
        font-size: 24px;
        margin-left: 11px;
      }
    }
  }
  &-right{
    padding-top: 4.875rem;
    padding-left: 19.375rem;
    position: relative;
    @media (max-width: 1200px){
      padding-left: 14.375rem;
    }
    @media (max-width: 992px){
      padding-left: 8.375rem;
      padding-top: 1.6875rem;
    }
    @media (max-width: 576px){
      padding-left: 60px;
    }
    &-img{
      position: absolute;
      left: 9.6875rem;
      width: 5.9375rem;
      @media (max-width: 1200px){
        left: 4.6875rem;
      }
      @media (max-width: 992px){
        left: 0;
      }
      @media (max-width: 576px){
        width: 43px;
        height: auto;
        margin-top: 10px;
      }
    }
    &-sliderInfo{
      width: 100%;
      &-text{
        color: #292929;
        font-size: 1.75rem;
        font-weight: 400;
        line-height: 3.40625rem;
        margin-top: -16px;
        @media (max-width: 1200px){
          font-size: 1.3rem;
          line-height: unset;
          margin-top: 0;
        }
      }
      &-data{
        color: rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
    &-footer{
      @include flex('sb', 'c');
      margin-bottom: 4.25rem;
      @media (max-width: 992px){
        width: calc(100% + 60px);
        position: relative;
        left: -60px;
        margin-top: 23px;
        margin-bottom: 1.875rem;
      }
    }
    .kazanfirst{
      width: 9.5rem;
      height: 2.125rem;
    }
  }
}


//.......... About End


.synergyEffect {

  .nav-tabs-scroll {
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 0;
    }
  }

  .nav-tabs {
    @include flex('sb', 'c');
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 4.6875rem;
    min-width: 1300px;
    @media (max-width: 768px) {
      min-width: 1000px;
    }

    .nav-item {
      margin-right: 1.25rem;

      &:last-child {
        margin-right: 0;
      }
      button {
        border: 0;
        color: #000;
        font-size: 1.5625rem;
        font-weight: 400;
        line-height: 100%; /* 25px */
        text-transform: uppercase;
        text-align: left;
        height: 4.6875rem;
        padding-bottom: 20px;
        padding-left: 0;
        padding-right: 1.25rem;
        @include flex('s', 'e');

        &.active {
          border-bottom: 1px solid #000;
          font-weight: 500;
        }

        @media (max-width: 768px) {
          font-size: 16.202px;
        }
      }
    }
  }

  .left-text {
    @media (min-width: 1200px) {
      position: relative;
      left: -100px;
    }
  }
}


//....... Selection

.selection-done {
  margin-top: 6.4375rem;
  @media (max-width: 576px) {
    margin-top: 3rem;
  }

  &-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5.5rem;
    margin-bottom: 2.625rem;
    position: relative;

    @media (max-width: 576px) {
      margin-top: -1rem;
    }

    .box {
      max-width: 440px;
      width: 100%;
      padding-top: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: start;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
      @media (max-width: 768px) {
        max-width: 350px;
        padding-top: 40px;
      }
      @media (max-width: 768px) {
        max-width: 287px;
      }

      .number {
        color: #000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        font-size: 6.6rem;
        font-weight: 400;
        line-height: 82px; /* 194.479% */
        @media (max-width: 768px) {
          font-size: 5.5rem;
          line-height: 60px;
        }
        /* 194.479% */
        @media (max-width: 576px) {
          font-size: 4.25rem;
          line-height: 49px;
        }
      }

      &-title {
        margin-left: 1.1rem;

        h3 {
          color: #292929;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 700;
          line-height: 20.775px; /* 236.562% */
          text-transform: uppercase;
          @media (max-width: 768px) {
            font-size: 1.3rem;
          }
          @media (max-width: 576px) {
            font-size: 16px;
          }
        }

        p {
          color: #000;
          font-size: 1.125rem;
          font-weight: 400;
          line-height: 22.675px; /* 125.972% */
          text-transform: uppercase;
          font-family: 'Open Sans', sans-serif;
          margin: 0;
          padding: 0;
          max-width: 280px;
          width: 100%;
          @media (max-width: 768px) {
            font-size: 1rem;
            max-width: 200px;
          }
          @media (max-width: 576px) {
            font-size: 12px;
            //max-width: 180px;
          }

          span {
            white-space: nowrap;
          }
        }
      }

      &.box2 {
        border: 1px solid #D9D9D9;
        padding: 1.625rem 1.25rem 1.875rem 2.1875rem;
        width: 100%;
        position: absolute;
        left: 20%;
        top: 118px;
        z-index: 1;
        @media (max-width: 1200px) {
          left: 18%;
        }
        @media (max-width: 1024px) {
          left: 5%;
          top: 140px;
        }
        @media (max-width: 768px) {
          left: 12%;
          top: 116px;
          padding: 1.625rem 1.25rem 1.875rem 2.1875rem;
          max-width: 300px;
          p {
            width: 100%;
          }
        }
        @media (max-width: 320px) {
          left: 5%;
          max-width: 280px;
        }

        h3 {
          color: #000;
        }
      }

      &.box3 {
        background: #F6F6F6;
        position: absolute;
        max-width: 481px;
        padding: 40px 30px 37px 50px;
        left: 45%;
        top: -40%;
        @media (max-width: 1200px) {
          left: 42%;
        }
        @media (max-width: 1024px) {
          left: 42%;
        }
        @media (max-width: 768px) {
          left: 0;
          max-width: 350px;
          top: 255%;
          padding: 1.625rem 1.25rem 1.875rem 2.1875rem;
          z-index: 1;
        }
        @media (max-width: 576px) {
          max-width: 310px;
        }

        h3 {
          color: #000;
        }
      }

      &.box4 {
        background: #000;
        position: absolute;
        max-width: 490px;
        padding: 40px 30px 45px 30px;
        color: #fff;
        left: 68%;
        top: 58%;
        @media (max-width: 1200px) {
          left: 64%;
        }
        @media (max-width: 1024px) {
          left: 53%;
          top: 128%;
        }
        @media (max-width: 768px) {
          left: 5%;
          top: 354%;
          max-width: 320px !important;
          padding-left: 10px;
          z-index: 10;
        }
        @media (max-width: 576px) {
          max-width: 325px !important;
        }

        .number {
          color: #ffff;
        }

        h3 {
          color: #fff;
        }

        p {
          color: #fff;
        }
      }
    }

  }

  &-bg {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1185px;
    height: 456px;
    margin: 240px auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @media (max-width: 768px) {
      height: 300px;
      max-width: 730px;
      margin-top: 480px;
    }
    @media (max-width: 576px) {
      height: 260px;
    }

    h2 {
      color: #292929;
      text-align: center;
      font-size: 2.75rem;
      font-weight: 700;
      line-height: 56.175px; /* 127.671% */
      @media (max-width: 768px) {
        font-size: 2.2rem;
      }
      @media (max-width: 576px) {
        font-size: 1.5rem;
      }
    }

    p {
      color: #292929;
      text-align: center;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 56.175px; /* 234.063% */
      @media (max-width: 768px) {
        font-size: 1.3rem;
        line-height: 30px;
      }
      @media (max-width: 576px) {
        font-size: 1rem;
        line-height: 23px;
      }
    }

    .bg-button {
      max-width: 373.286px;
      margin: 0 auto;
      @media (max-width: 768px) {
        max-width: 285px;
        width: 100%;
      }

      button {
        width: 100%;
        height: 4.875rem;
        border: 2px solid #292929;
        background: rgba(255, 255, 255, 0.50);
        color: #292929;
        text-align: center;
        font-size: 1.392875rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        @media (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
  }
}


//........ Selection End


// ........ News

.news{
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  .slick-dots{
    display: none !important;
  }
  &-left{
    height: 100%;
    border-right: 1px solid #D9D9D9;
    @include flex('sb', 's');
    flex-direction: column;

    @media (max-width: 992px){
      border-right: 0;
      flex-direction: row;
      align-items: center;

    }
    .btn-def{
      display: inline-block;
      margin-top: 6.25rem;
      @media (max-width: 992px){
        margin-top: 22px;
      }
    }
    &-count{
      color: #000;
      font-size: 3.4375rem;
      font-weight: 400;
      margin-top: 9.0625rem;
      margin-bottom: 3.25rem;
      display: inline-block;
      @media (max-width: 992px){
        margin-top: 11px;
        margin-bottom: 0;
        font-size: 24px;
        margin-left: 11px;
      }
    }
  }
  &-right{
    padding-top: 3.125rem;
    padding-left: 3.125rem;
    position: relative;
    @media (max-width: 992px){
      padding-left: 0;
      padding-top: 2rem;
    }
    &-img{
      position: absolute;
      left: 9.6875rem;
      width: 5.9375rem;
      @media (max-width: 1200px){
        left: 4.6875rem;
      }
      @media (max-width: 992px){
        left: 0;
      }
      @media (max-width: 576px){
        width: 43px;
        height: auto;
        margin-top: 10px;
      }
    }
    &-sliderInfo{
      width: 100%;
      &-image{
         max-width: 25.5625rem;
          height: 16.875rem;
          width: 100%;
          box-shadow: 25px 25px 0 #F6F6F6;
        @media (max-width: 576px) {
          max-width: 18.5rem;
          height: 10.5rem;
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-body{
        width: 70%;
        position: relative;
        left: 30%;
        top: -100px;
        background: #fff;
        padding: 15px;
        margin-bottom: -100px;
        @media (max-width: 576px) {
          top: -80px;
          margin-bottom: -80px;
        }
      }
      &-text{
        color: #292929;
        font-size: 2rem;
        font-weight: 400;
        line-height: 3.40625rem; /* 170.313% */
        @media (max-width: 1200px){
          font-size: 1.3rem;
          line-height: unset;
          margin-top: 0;
        }
        @media (max-width: 576px) {
          font-size: 1rem;
          line-height: 1.75rem;
        }
      }
      &-data{
        color: rgba(0, 0, 0, 0.5);
        font-size: 1.5rem;
        font-weight: 400;
        @media (max-width: 576px) {
          font-size: 1.3rem;
        }
      }
    }
    &-footer{
      @include flex('sb', 'c');
      margin-bottom: 4.25rem;
      width: 70%;
      position: relative;
      left: 30%;
      @media (max-width: 992px){
        width: calc(100% + 60px);
        position: relative;
        left: 0;
        margin-top: 23px;
        margin-bottom: 1.875rem;
      }
    }

  }
}
