@import "../fonts/Bebas Neue Cyrillic/stylesheet.css";
@import "../fonts/Helvetica Neue/stylesheet.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #292929;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2f2d2d;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "HelveticaNeueCyr", serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}
.mb-25 {
  margin-bottom: 1.5625rem;
}

.pt-50 {
  padding-top: 3.125rem;
}

.mb-31 {
  margin-bottom: 1.9375rem;
}

.mb-60 {
  margin-bottom: 3.75rem;
}

.c-black400 {
  color: #292929;
}

.fs-20 {
  font-size: 1.25rem;
}

.lh-lg-42 {
  line-height: 2.625rem;
}

.w-55 {
  width: 3.4375rem;
}

.h-55 {
  height: 3.4375rem;
}

.w-100 {
  width: 6.25rem;
}

.bgc-gray300 {
  background-color: #F8F8F8;
}

.pt-46 {
  padding-top: 2.875rem;
}

.pb-46 {
  padding-bottom: 2.875rem;
}

.mt-77 {
  margin-top: 4.8125rem;
}

.me-30 {
  margin-right: 1.875rem;
}

.w-80 {
  width: 5rem;
}

.fw-300 {
  font-weight: 300;
}

.mt-26 {
  margin-top: 1.625rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.mt-50 {
  margin-top: 3.125rem;
}

.fw-bolder {
  font-weight: bolder;
}

.mb-58 {
  margin-bottom: 3.625rem;
}

.mt-61 {
  margin-top: 3.8125rem;
}

.w-180 {
  width: 11.25rem;
}

.h-195 {
  height: 12.1875rem;
}

.mt-56 {
  margin-top: 3.5rem;
}

.fw-500 {
  font-weight: 500;
}

.h-66 {
  height: 4.125rem;
}

.w-315 {
  width: 19.6875rem;
}

.minh-177 {
  min-height: 11.0625rem;
}

.bgc-gray {
  background-color: #F6F6F6;
}

.bgc-black {
  background-color: #000;
}

.w-323 {
  width: 20.1875rem;
}

.h-52 {
  height: 3.25rem;
}

.c-white {
  color: #FFF;
}

.mt-15 {
  margin-top: 0.9375rem;
}

.ms-28 {
  margin-left: 1.75rem;
}

.me-19 {
  margin-right: 1.1875rem;
}

.me-6 {
  margin-right: 0.375rem;
}

.w-35 {
  width: 2.1875rem;
}

.h-35 {
  height: 2.1875rem;
}

@media (min-width: 992px) {
  .pt-lg-143 {
    padding-top: 8.9375rem;
  }
  .fs-lg-26 {
    font-size: 1.625rem;
  }
  .me-lg-129 {
    margin-right: 8.0625rem;
  }
  .w-lg-116 {
    width: 7.25rem;
  }
  .mt-lg-191 {
    margin-top: 11.9375rem;
  }
  .fs-lg-25 {
    font-size: 1.5625rem;
  }
  .fs-lg-24 {
    font-size: 1.5rem;
  }
  .lh-lg-46 {
    line-height: 2.875rem;
  }
  .py-lg-0 {
    padding: 0rem 0;
  }
  .ms-lg-66 {
    margin-left: 4.125rem;
  }
}
@media (min-width: 768px) {
  .w-md-76 {
    width: 76%;
  }
}
@media (min-width: 576px) {
  .w-sm-58 {
    width: 3.625rem;
  }
  .h-sm-57 {
    height: 3.5625rem;
  }
}
body {
  background: #fff;
}

.container {
  max-width: 1400px;
}

:root {
  --orange: #FF5B27;
  --black: #1D1F23;
  --gray: #949494;
  --light-gray: #F1F1F1;
  --white: #FFf;
}

.font-babes-neue {
  font-family: "Bebas Neue", sans-serif;
}

.btn-def {
  padding: 0.625rem 1.5625rem;
  border-radius: 100px;
  border: 2px solid #1D1D1D;
  color: #1D1D1D;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 100%; /* 25px */
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
}
@media (max-width: 576px) {
  .btn-def {
    font-size: 1rem;
    border-radius: 62.887px;
    border: 1.258px solid #1D1D1D;
    padding: 6.289px 15.722px;
  }
}

.menu {
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
  width: 100%;
}
@media (max-width: 992px) {
  .menu {
    height: auto;
  }
}
.menu-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 992px) {
  .menu-inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 10px;
  }
}
.menu-inner-logo {
  margin-right: 10.75rem;
}
@media (max-width: 1200px) {
  .menu-inner-logo {
    margin-right: 5.75rem;
  }
}
@media (max-width: 1160px) {
  .menu-inner-logo {
    margin-right: 4.8rem;
  }
}
@media (max-width: 1060px) {
  .menu-inner-logo {
    margin-right: 3.5rem;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@media (max-width: 576px) {
  .menu-inner-logo img {
    width: 166px;
  }
}
.menu-inner-line {
  width: 1px;
  background: #D9D9D9;
  height: 160px;
  margin-right: 11.5rem;
}
@media (max-width: 1200px) {
  .menu-inner-line {
    margin-right: 8.2rem;
  }
}
@media (max-width: 1140px) {
  .menu-inner-line {
    margin-right: 5.75rem;
  }
}
@media (max-width: 992px) {
  .menu-inner-line {
    display: none;
  }
}
.menu-inner-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5.375rem;
}
@media (max-width: 1200px) {
  .menu-inner-items {
    margin-right: 1.5rem;
  }
}
@media (max-width: 992px) {
  .menu-inner-items {
    display: none;
  }
}
.menu-inner-items .item2 {
  margin-left: 5.625rem;
}
@media (max-width: 1200px) {
  .menu-inner-items .item2 {
    margin-left: 4rem;
  }
}
@media (max-width: 1085px) {
  .menu-inner-items .item2 {
    margin-left: 2rem;
  }
}
.menu-inner-items-item {
  color: #9A9A9A;
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}
.menu-inner-items-item a {
  font-size: 1.25rem;
  color: #9A9A9A;
}
.menu-inner-link {
  white-space: nowrap;
}
@media (max-width: 576px) {
  .menu-inner-link {
    white-space: unset;
  }
}
.menu-inner-link a {
  color: #000;
  font-size: 1.494rem;
  font-weight: 400;
  line-height: 100%; /* 23.904px */
  text-transform: uppercase;
  text-decoration: underline;
}
@media (max-width: 576px) {
  .menu-inner-link a {
    font-size: 1.125rem;
  }
}
.menu .menu-items-mobile {
  display: none;
  margin-top: 20px;
  margin-bottom: 22px;
  position: relative;
  left: 15px;
  gap: 25px;
}
@media (max-width: 992px) {
  .menu .menu-items-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.menu .menu-items-mobile .menu-items-item {
  color: #9A9A9A;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.menu .menu-items-mobile .menu-items-item a {
  color: #9A9A9A;
}

.header {
  margin-top: 7rem;
}
@media (max-width: 768px) {
  .header {
    margin-top: 1.8125rem;
  }
}
.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
@media (max-width: 992px) {
  .header-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .header-inner-box {
    width: 100%;
    margin-bottom: -70px;
  }
}
@media (max-width: 575px) {
  .header-inner-box {
    width: 100%;
    margin-bottom: -150px;
  }
}
.header-inner-box-head {
  color: #292929;
  font-size: 4.6875rem;
  font-weight: 600;
  line-height: 111.3%;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
}
@media (max-width: 1024px) {
  .header-inner-box-head {
    font-size: 3.5rem;
  }
}
@media (max-width: 768px) {
  .header-inner-box-head {
    font-size: 2.875rem;
    margin-left: 1rem;
  }
}
.header-inner-box-button {
  max-width: 556px;
  width: 100%;
  height: 214px;
  position: relative;
  left: -115px;
  margin-top: 73px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 992px) {
  .header-inner-box-button {
    left: -30px;
    top: -30px;
    margin-top: 0;
  }
}
@media (max-width: 576px) {
  .header-inner-box-button {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    padding-left: 50px;
    height: 300px;
    width: 450px;
    left: -50px;
    top: -100px;
    background-size: contain;
  }
}
.header-inner-box-button button {
  max-width: 19.7410625rem;
  width: 100%;
  text-align: center;
  height: 4.125rem;
  border: 1.692px solid #000;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  font-size: 1.1785625rem;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 768px) {
  .header-inner-box-button button {
    margin-left: 1rem;
  }
}
.header-inner-video {
  max-width: 800px;
  width: 100%;
  position: absolute;
  z-index: -1;
  right: -30px;
  top: -112px;
}
.header-inner-video:after {
  content: "";
  width: 100px;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(white), to(transparent));
  background: linear-gradient(270deg, white, transparent);
  position: absolute;
  right: 0;
  top: 0;
}
.header-inner-video:before {
  content: "";
  width: 100px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(transparent));
  background: linear-gradient(90deg, #ffffff, transparent);
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 1024px) {
  .header-inner-video {
    max-width: 660px;
  }
}
@media (max-width: 992px) {
  .header-inner-video {
    position: unset;
    max-width: unset;
  }
}
.header-inner-video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.header-inner-video h2 {
  color: #292929;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 87%; /* 20.88px */
  text-transform: uppercase;
  background: #F6F6F6;
  white-space: nowrap;
  position: absolute;
  top: 91%;
  padding: 20px;
  left: 42%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}
@media (max-width: 1024px) {
  .header-inner-video h2 {
    font-size: 2rem;
  }
}
@media (max-width: 992px) {
  .header-inner-video h2 {
    top: 99%;
  }
}
@media (max-width: 768px) {
  .header-inner-video h2 {
    font-size: 1.5rem;
  }
}
.header-inner-video h3 {
  color: #292929;
  font-size: 3.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 87%; /* 20.88px */
  text-transform: uppercase;
  background: #F6F6F6;
  white-space: nowrap;
  position: absolute;
  top: 108%;
  padding: 1.25rem;
  left: 70%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}
@media (max-width: 1024px) {
  .header-inner-video h3 {
    font-size: 3rem;
    left: 68%;
    top: 104%;
  }
}
@media (max-width: 992px) {
  .header-inner-video h3 {
    font-size: 3rem;
    left: 68%;
    top: 107%;
  }
}
@media (max-width: 768px) {
  .header-inner-video h3 {
    font-size: 2.25rem;
  }
}
.header-title {
  margin-top: 12.6875rem;
}
@media (max-width: 1024px) {
  .header-title {
    margin-top: 9rem;
  }
}
@media (max-width: 992px) {
  .header-title {
    margin-top: 11rem;
  }
}
@media (max-width: 768px) {
  .header-title {
    margin-top: 10rem;
  }
}
.header-title-1 {
  max-width: 1000px;
  width: 100%;
  color: #292929;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 43px; /* 165.385% */
}
.header-title-1 span {
  color: #292929;
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 43px;
}
@media (max-width: 768px) {
  .header-title-1 span {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .header-title-1 {
    font-size: 16px;
    line-height: 23px;
  }
}
.header-title-2 {
  color: #292929;
  margin-top: 2.5625rem;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 40.5px; /* 184.091% */
  max-width: 660px;
  width: 100%;
}
@media (max-width: 992px) {
  .header-title-2 {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .header-title-2 {
    font-size: 16px;
    line-height: 23px;
  }
}

.howItWorking-slider {
  overflow-x: auto;
  position: relative;
}
.howItWorking-slider::-webkit-scrollbar {
  height: 0;
}
.howItWorking-slider img {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  height: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 992px) {
  .howItWorking-slider img {
    width: 2000px;
  }
}

.about-us {
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  height: 432px;
  margin-top: 66px;
}
@media (max-width: 1200px) {
  .about-us {
    height: 350px;
  }
}
@media (max-width: 992px) {
  .about-us {
    height: 280px;
  }
}
@media (max-width: 375px) {
  .about-us {
    height: 320px;
  }
}
.about-us .slick-prev {
  left: 29%;
}
@media (max-width: 992px) {
  .about-us .slick-prev {
    left: 0;
  }
}
.about-us .slick-next {
  left: 36%;
}
@media (max-width: 1200px) {
  .about-us .slick-next {
    left: 38%;
  }
}
@media (max-width: 992px) {
  .about-us .slick-next {
    left: 3.8375rem;
  }
}
.about-us-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
.about-us-inner .blue-link {
  position: absolute;
  right: 50px;
  bottom: 95px;
}
@media (max-width: 1200px) {
  .about-us-inner .blue-link {
    bottom: 150px;
  }
}
@media (max-width: 1100px) {
  .about-us-inner .blue-link {
    bottom: 150px;
  }
}
@media (max-width: 1170px) {
  .about-us-inner .blue-link {
    bottom: 120px;
  }
}
@media (max-width: 992px) {
  .about-us-inner .blue-link {
    top: 110%;
  }
}
@media (max-width: 576px) {
  .about-us-inner .blue-link {
    top: 115%;
    right: 10px;
  }
}
@media (max-width: 475px) {
  .about-us-inner .blue-link {
    top: 115%;
  }
}
.about-us-inner .count-box {
  padding-top: 6.875rem;
  padding-right: 9.375rem;
  height: 432px;
  border-right: 1px solid #D9D9D9;
}
@media (max-width: 1200px) {
  .about-us-inner .count-box {
    padding-right: 5rem;
    padding-top: 5rem;
  }
}
@media (max-width: 1100px) {
  .about-us-inner .count-box {
    padding-right: 4rem;
  }
}
@media (max-width: 992px) {
  .about-us-inner .count-box {
    display: none;
  }
}
.about-us-inner .count-box button {
  padding: 0.625rem 1.5625rem;
  border-radius: 100px;
  background: transparent;
  border: 2px solid #1D1D1D;
  color: #1D1D1D;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 100%; /* 25px */
  text-transform: uppercase;
}
.about-us-inner .count-box .count {
  margin-top: 9.0625rem;
  color: #000;
  font-size: 3.4375rem;
  font-weight: 400;
  line-height: 54.5px; /* 99.091% */
}
@media (max-width: 1024px) {
  .about-us-inner .count-box .count {
    font-size: 2.5rem;
  }
}
.about-us-inner .count-box2 {
  display: none !important;
}
@media (max-width: 992px) {
  .about-us-inner .count-box2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 22px;
  }
}
.about-us-inner .count-box2 button {
  padding: 0.625rem 1.5625rem;
  border-radius: 100px;
  background: transparent;
  border: 2px solid #1D1D1D;
  color: #1D1D1D;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 100%; /* 25px */
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .about-us-inner .count-box2 button {
    font-size: 1.3rem;
  }
}
@media (max-width: 576px) {
  .about-us-inner .count-box2 button {
    font-size: 1rem;
    border: 1px solid #1D1D1D;
  }
}
.about-us-inner .count-box2 .count {
  color: #000;
  font-size: 3.4375rem;
  font-weight: 400;
  margin-left: 20px;
  line-height: 54.5px; /* 99.091% */
  /* 99.091% */
}
@media (max-width: 1024px) {
  .about-us-inner .count-box2 .count {
    font-size: 2.5rem;
  }
}
@media (max-width: 576px) {
  .about-us-inner .count-box2 .count {
    font-size: 1.5rem;
  }
}
.about-us-inner .slider {
  padding-top: 6.875rem;
  padding-left: 9.375rem;
  width: 70%;
}
@media (max-width: 1200px) {
  .about-us-inner .slider {
    padding-left: 7rem;
    padding-top: 5rem;
    width: 65%;
  }
}
@media (max-width: 1100px) {
  .about-us-inner .slider {
    padding-left: 5rem;
  }
}
@media (max-width: 992px) {
  .about-us-inner .slider {
    width: 100%;
    padding-left: 0;
    padding-top: 6.875rem;
  }
}
.about-us-inner .slider .col-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 576px) {
  .about-us-inner .slider .col-box img {
    width: 43px;
  }
}
.about-us-inner .slider .col-box p {
  color: #292929;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 54.5px;
  margin-left: 1rem;
  margin-top: 3px;
}
@media (max-width: 1200px) {
  .about-us-inner .slider .col-box p {
    font-size: 1.4rem;
    line-height: 40px;
  }
}
@media (max-width: 992px) {
  .about-us-inner .slider .col-box p {
    line-height: 28px;
  }
}
@media (max-width: 576px) {
  .about-us-inner .slider .col-box p {
    font-size: 1rem;
  }
}
.about-us-inner .slider .slick-dots {
  display: none !important;
}
.about-us-inner .slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-us-inner .slider .slick-track .slick-slide {
  height: auto !important;
  margin-right: 20px !important;
  cursor: pointer;
}
@media (max-width: 768px) {
  .about-us-inner .slider .slick-track .slick-slide {
    margin-right: 10px !important;
  }
}
.about-us-inner .slider .slick-track .slick-slide:last-child {
  margin-right: 0 !important;
}

.synergyEffect .nav-tabs-scroll {
  overflow-x: auto;
}
.synergyEffect .nav-tabs-scroll::-webkit-scrollbar {
  height: 0;
}
.synergyEffect .nav-tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 4.6875rem;
  min-width: 1300px;
}
@media (max-width: 768px) {
  .synergyEffect .nav-tabs {
    min-width: 1000px;
  }
}
.synergyEffect .nav-tabs .nav-item {
  margin-right: 1.25rem;
}
.synergyEffect .nav-tabs .nav-item:last-child {
  margin-right: 0;
}
.synergyEffect .nav-tabs .nav-item button {
  border: 0;
  color: #000;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 100%; /* 25px */
  text-transform: uppercase;
  text-align: left;
  height: 4.6875rem;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 1.25rem;
  display: flex;
  justify-content: start;
  align-items: end;
}
.synergyEffect .nav-tabs .nav-item button.active {
  border-bottom: 1px solid #000;
  font-weight: 500;
}
@media (max-width: 768px) {
  .synergyEffect .nav-tabs .nav-item button {
    font-size: 16.202px;
  }
}
@media (min-width: 1200px) {
  .synergyEffect .left-text {
    position: relative;
    left: -100px;
  }
}

.selection-done {
  margin-top: 6.4375rem;
}
@media (max-width: 576px) {
  .selection-done {
    margin-top: 3rem;
  }
}
.selection-done-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5.5rem;
  margin-bottom: 2.625rem;
  position: relative;
}
@media (max-width: 576px) {
  .selection-done-inner {
    margin-top: -1rem;
  }
}
.selection-done-inner .box {
  max-width: 440px;
  width: 100%;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}
@media (max-width: 768px) {
  .selection-done-inner .box {
    max-width: 350px;
    padding-top: 40px;
  }
}
@media (max-width: 768px) {
  .selection-done-inner .box {
    max-width: 287px;
  }
}
.selection-done-inner .box .number {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  font-size: 6.6rem;
  font-weight: 400;
  line-height: 82px; /* 194.479% */
  /* 194.479% */
}
@media (max-width: 768px) {
  .selection-done-inner .box .number {
    font-size: 5.5rem;
    line-height: 60px;
  }
}
@media (max-width: 576px) {
  .selection-done-inner .box .number {
    font-size: 4.25rem;
    line-height: 49px;
  }
}
.selection-done-inner .box-title {
  margin-left: 1.1rem;
}
.selection-done-inner .box-title h3 {
  color: #292929;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 20.775px; /* 236.562% */
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .selection-done-inner .box-title h3 {
    font-size: 1.3rem;
  }
}
@media (max-width: 576px) {
  .selection-done-inner .box-title h3 {
    font-size: 16px;
  }
}
.selection-done-inner .box-title p {
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 22.675px; /* 125.972% */
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 280px;
  width: 100%;
}
@media (max-width: 768px) {
  .selection-done-inner .box-title p {
    font-size: 1rem;
    max-width: 200px;
  }
}
@media (max-width: 576px) {
  .selection-done-inner .box-title p {
    font-size: 12px;
  }
}
.selection-done-inner .box-title p span {
  white-space: nowrap;
}
.selection-done-inner .box.box2 {
  border: 1px solid #D9D9D9;
  padding: 1.625rem 1.25rem 1.875rem 2.1875rem;
  width: 100%;
  position: absolute;
  left: 20%;
  top: 118px;
  z-index: 1;
}
@media (max-width: 1200px) {
  .selection-done-inner .box.box2 {
    left: 18%;
  }
}
@media (max-width: 1024px) {
  .selection-done-inner .box.box2 {
    left: 5%;
    top: 140px;
  }
}
@media (max-width: 768px) {
  .selection-done-inner .box.box2 {
    left: 12%;
    top: 116px;
    padding: 1.625rem 1.25rem 1.875rem 2.1875rem;
    max-width: 300px;
  }
  .selection-done-inner .box.box2 p {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .selection-done-inner .box.box2 {
    left: 5%;
    max-width: 280px;
  }
}
.selection-done-inner .box.box2 h3 {
  color: #000;
}
.selection-done-inner .box.box3 {
  background: #F6F6F6;
  position: absolute;
  max-width: 481px;
  padding: 40px 30px 37px 50px;
  left: 45%;
  top: -40%;
}
@media (max-width: 1200px) {
  .selection-done-inner .box.box3 {
    left: 42%;
  }
}
@media (max-width: 1024px) {
  .selection-done-inner .box.box3 {
    left: 42%;
  }
}
@media (max-width: 768px) {
  .selection-done-inner .box.box3 {
    left: 0;
    max-width: 350px;
    top: 255%;
    padding: 1.625rem 1.25rem 1.875rem 2.1875rem;
    z-index: 1;
  }
}
@media (max-width: 576px) {
  .selection-done-inner .box.box3 {
    max-width: 310px;
  }
}
.selection-done-inner .box.box3 h3 {
  color: #000;
}
.selection-done-inner .box.box4 {
  background: #000;
  position: absolute;
  max-width: 490px;
  padding: 40px 30px 45px 30px;
  color: #fff;
  left: 68%;
  top: 58%;
}
@media (max-width: 1200px) {
  .selection-done-inner .box.box4 {
    left: 64%;
  }
}
@media (max-width: 1024px) {
  .selection-done-inner .box.box4 {
    left: 53%;
    top: 128%;
  }
}
@media (max-width: 768px) {
  .selection-done-inner .box.box4 {
    left: 5%;
    top: 354%;
    max-width: 320px !important;
    padding-left: 10px;
    z-index: 10;
  }
}
@media (max-width: 576px) {
  .selection-done-inner .box.box4 {
    max-width: 325px !important;
  }
}
.selection-done-inner .box.box4 .number {
  color: white;
}
.selection-done-inner .box.box4 h3 {
  color: #fff;
}
.selection-done-inner .box.box4 p {
  color: #fff;
}
.selection-done-bg {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1185px;
  height: 456px;
  margin: 240px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 768px) {
  .selection-done-bg {
    height: 300px;
    max-width: 730px;
    margin-top: 480px;
  }
}
@media (max-width: 576px) {
  .selection-done-bg {
    height: 260px;
  }
}
.selection-done-bg h2 {
  color: #292929;
  text-align: center;
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 56.175px; /* 127.671% */
}
@media (max-width: 768px) {
  .selection-done-bg h2 {
    font-size: 2.2rem;
  }
}
@media (max-width: 576px) {
  .selection-done-bg h2 {
    font-size: 1.5rem;
  }
}
.selection-done-bg p {
  color: #292929;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 56.175px; /* 234.063% */
}
@media (max-width: 768px) {
  .selection-done-bg p {
    font-size: 1.3rem;
    line-height: 30px;
  }
}
@media (max-width: 576px) {
  .selection-done-bg p {
    font-size: 1rem;
    line-height: 23px;
  }
}
.selection-done-bg .bg-button {
  max-width: 373.286px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .selection-done-bg .bg-button {
    max-width: 285px;
    width: 100%;
  }
}
.selection-done-bg .bg-button button {
  width: 100%;
  height: 4.875rem;
  border: 2px solid #292929;
  background: rgba(255, 255, 255, 0.5);
  color: #292929;
  text-align: center;
  font-size: 1.392875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 768px) {
  .selection-done-bg .bg-button button {
    font-size: 16px;
  }
}

.news {
  border-top: 1px solid #D9D9D9;
  border-bottom: 1px solid #D9D9D9;
  height: 590px;
  margin-top: 7.0625rem;
  margin-bottom: 88px;
}
@media (max-width: 992px) {
  .news {
    height: 540px;
  }
}
@media (max-width: 576px) {
  .news {
    margin-top: 45px;
    height: 350px;
    margin-bottom: 44px;
  }
}
.news-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}
.news-inner .blue-link {
  position: absolute;
  right: 50px;
  bottom: 55px;
}
@media (max-width: 1200px) {
  .news-inner .blue-link {
    bottom: 150px;
  }
}
@media (max-width: 1100px) {
  .news-inner .blue-link {
    bottom: 150px;
  }
}
@media (max-width: 992px) {
  .news-inner .blue-link {
    bottom: -35px;
  }
}
@media (max-width: 576px) {
  .news-inner .blue-link {
    bottom: -35px;
    right: 10px;
  }
}
@media (max-width: 475px) {
  .news-inner .blue-link {
    bottom: -35px;
  }
}
.news-inner .count-box {
  padding-top: 6.875rem;
  padding-right: 9.375rem;
  height: 590px;
  border-right: 1px solid #D9D9D9;
}
@media (max-width: 1200px) {
  .news-inner .count-box {
    padding-right: 5rem;
    padding-top: 5rem;
  }
}
@media (max-width: 1100px) {
  .news-inner .count-box {
    padding-right: 4rem;
  }
}
@media (max-width: 992px) {
  .news-inner .count-box {
    display: none;
  }
}
.news-inner .count-box button {
  padding: 0.625rem 1.5625rem;
  border-radius: 100px;
  background: transparent;
  border: 2px solid #1D1D1D;
  color: #1D1D1D;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 100%; /* 25px */
  text-transform: uppercase;
}
.news-inner .count-box .count {
  margin-top: 21.625rem;
  color: #000;
  font-size: 3.4375rem;
  font-weight: 400;
  line-height: 54.5px;
}
@media (max-width: 1200px) {
  .news-inner .count-box .count {
    margin-top: 17rem;
  }
}
@media (max-width: 1024px) {
  .news-inner .count-box .count {
    font-size: 2.5rem;
    margin-top: 19rem;
  }
}
.news-inner .count-box2 {
  display: none !important;
}
@media (max-width: 992px) {
  .news-inner .count-box2 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 5px;
  }
}
.news-inner .count-box2 button {
  padding: 0.625rem 1.5625rem;
  border-radius: 100px;
  background: transparent;
  border: 2px solid #1D1D1D;
  color: #1D1D1D;
  font-size: 1.5625rem;
  font-weight: 400;
  line-height: 100%; /* 25px */
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .news-inner .count-box2 button {
    font-size: 1.3rem;
  }
}
@media (max-width: 576px) {
  .news-inner .count-box2 button {
    font-size: 1rem;
    border: 1px solid #1D1D1D;
  }
}
.news-inner .count-box2 .count {
  color: #000;
  font-size: 3.4375rem;
  font-weight: 400;
  margin-left: 20px;
  line-height: 54.5px; /* 99.091% */
  /* 99.091% */
}
@media (max-width: 1024px) {
  .news-inner .count-box2 .count {
    font-size: 2.5rem;
  }
}
@media (max-width: 576px) {
  .news-inner .count-box2 .count {
    font-size: 1.5rem;
  }
}
.news-inner .slider {
  padding-top: 2.875rem;
  padding-left: 3.3125rem;
  width: 80%;
}
@media (max-width: 1200px) {
  .news-inner .slider {
    width: 65%;
  }
}
@media (max-width: 992px) {
  .news-inner .slider {
    width: 100%;
    padding-top: 5.5625rem;
    padding-left: 0;
  }
}
.news-inner .slider .col-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media (max-width: 576px) {
  .news-inner .slider .col-box img {
    width: 163px;
  }
}
.news-inner .slider .col-box p {
  color: #292929;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 54.5px;
  margin-left: 1rem;
  margin-top: 3px;
  position: absolute;
  background: #fff;
  left: 27%;
  top: 60%;
  padding: 6px 0 10px 17px;
}
@media (max-width: 1200px) {
  .news-inner .slider .col-box p {
    font-size: 1.4rem;
    line-height: 40px;
  }
}
@media (max-width: 992px) {
  .news-inner .slider .col-box p {
    line-height: 28px;
  }
}
@media (max-width: 576px) {
  .news-inner .slider .col-box p {
    font-size: 1rem;
  }
}
.news-inner .slider .slick-dots {
  display: none !important;
}
.news-inner .slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
}
.news-inner .slider .slick-track .slick-slide {
  height: auto !important;
  margin-right: 20px !important;
  cursor: pointer;
}
@media (max-width: 768px) {
  .news-inner .slider .slick-track .slick-slide {
    margin-right: 10px !important;
  }
}
.news-inner .slider .slick-track .slick-slide:last-child {
  margin-right: 0 !important;
}

.slick-next {
  background-color: white;
  width: 3.4375rem !important;
  height: 3.4375rem !important;
  display: inline-block;
  position: absolute;
  top: 102%;
  left: 38%;
  border-radius: 50% !important;
  border: 1px solid #292929;
  font-size: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .slick-next {
    left: 43%;
    top: 110%;
  }
}
@media (max-width: 992px) {
  .slick-next {
    left: 3.75rem;
    top: 112%;
  }
}
.slick-next:active {
  border: 1px solid #292929;
  opacity: 1;
}
.slick-next:hover {
  border: 1px solid #292929;
  opacity: 1;
}
.slick-next:before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../images/arrow-right.svg") no-repeat center center;
  background-size: contain;
  font-size: 20px;
  opacity: 0.75;
  display: block;
}
.slick-next:before:hover {
  border: 1px solid #292929;
}

.slick-prev {
  background-color: white;
  width: 3.4375rem !important;
  height: 3.4375rem !important;
  display: inline-block;
  position: absolute !important;
  left: 32%;
  top: 102%;
  border-radius: 50% !important;
  padding: 0 !important;
  border: 1px solid #292929;
  z-index: 32;
  font-size: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.5;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .slick-prev {
    left: 34%;
    top: 110%;
  }
}
@media (max-width: 992px) {
  .slick-prev {
    left: 0;
    top: 112%;
  }
}
.slick-prev:active {
  border: 1px solid #292929;
  opacity: 1;
}
.slick-prev:hover {
  border: 1px solid #292929;
  opacity: 1;
}
.slick-prev:before {
  content: "";
  width: 24px;
  height: 24px;
  background: url("../images/arrow-left.svg") no-repeat center center;
  background-size: contain;
  font-size: 20px;
  opacity: 0.75;
  display: block;
}

/*# sourceMappingURL=style.css.map */
